apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- guestbook-mongodb.service.yaml
- guestbook-mongodb.deployment.yaml
- guestbook-backend.service.yaml
- guestbook-backend.deployment.yaml
- guestbook-backend.servicemonitor.yaml

# Replace the image name and tag
images:
- name: python-guestbook-backend
  newName: ${BACKEND_IMAGE_NAME}
  newTag: ${BACKEND_IMAGE_TAG}